/* ================= BUTTONS ================= */

button{
    width:100%;
    padding:18px;
    margin-top:20px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:20px;
    font-weight:700;
    letter-spacing:.5px;
    color:#fff;
    background:linear-gradient(135deg,#00d2ff,#3a7bd5,#7b2ff7);
    background-size:300% 300%;
    box-shadow:0 12px 30px rgba(0,140,255,.45);
    transition:all .35s ease;
    animation:gradientMove 5s ease infinite;
}

button:hover{
    transform:translateY(-5px) scale(1.02);
    box-shadow:0 18px 40px rgba(0,140,255,.6);
}

button:active{
    transform:scale(.97);
}

@keyframes gradientMove{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}

/* Home button */

.back-btn{
    display:inline-block;
    width:auto;
    padding:15px 35px;
    margin-top:20px;
    text-decoration:none;
}

.back-btn button{
    width:auto;
    padding:15px 35px;
}

/* Prediction Button */

.start-btn{
    width:100%;
}

/* Result Box */

.result{
    margin-top:35px;
    padding:25px;
    border-radius:20px;
    text-align:center;
    font-size:30px;
    font-weight:700;
    color:#7CFF8A;
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.15);
    box-shadow:0 0 30px rgba(0,255,170,.15);
}